@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --twitter-color: #1da1f2;
  --outline-color: #374151;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .card {
    border: 1px solid var(--outline-color);
    border-radius: 10px;
  }
  .search {
    border: 1px solid var(--outline-color);
    border-radius: 20px;
    padding: 4px 2px;
    background: transparent;
  }
  .search::placeholder {
    color: var(--outline-color);
  }
  .search[type="text"] {
    padding: 8px 14px;
  }
  .tab {
    padding: 1rem;
    font-weight: bold;
    color: var(--outline-color);
    width: 100%;
    flex: 1;
  }
  .tab:hover {
    background: var(--outline-color);
    opacity: 0.5;
    color: var(--background);
  }
}
