@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #171717;
  --twitter-color: #1da1f2;
  --outline-color: #374151;
  --background-grey: #111827;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  resize: none;
}

textarea:focus {
  outline: none;
}

@layer components {
  .card {
    border: 1px solid var(--outline-color);
    border-radius: 10px;
  }
  .search {
    border: 1px solid var(--outline-color);
    border-radius: 20px;
    padding: 4px 2px;
    background: transparent;
  }
  .search::placeholder {
    color: var(--outline-color);
  }
  .search[type="text"] {
    padding: 8px 14px;
  }
  .tab {
    padding: 1rem;
    font-weight: bold;
    color: var(--outline-color);
    width: 100%;
    flex: 1;
  }
  .tab:hover {
    background: var(--outline-color);
    opacity: 0.5;
    color: var(--background);
  }
  .navHover {
    background: var(--background-grey);
    border-radius: 10rem;
  }
  .roundedButton {
    /* font-bold bg-white text-black rounded-full lg:rounded-3xl block w-full lg:w-56 py-3 */
    font-weight: bold;
    border-radius: 1.5rem;
    padding: 0.75rem;
    display: block;
  }
}
